body {
  background-image: url(../img/contemporary_china.png);
}

.logo {
  font-family: 'BioRhyme+Extended', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}